*/build/*
*/Build/*
git_templates/*
DerivedData/*
*Demo/*.pbxuser
*Example/*.pbxuser
*.DS_Store
*.swp
./git/*

*.yml

./*/*.backup
./*/*.backup*/
*.backup

ArchiveProduction/*
./ArchiveProduction/*


*.xcuserdata*
.gitattributes
*xcuserdata*
*.pyc
*Demo/tools/Fabric.app/*
*Example/tools/Fabric.app/*
*/*Demo*.xcconfig
*/*Example*.xcconfig

# Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
./*/revision.h


# Pods
*/Pods/*
*Demo/Pods/*
*Example/Pods/*
*/Podfile.lock
Podfile.lock

*/.idea/*
./*/.idea/*
.idea/*

# node.js
*/node_modules/
*/npm-debug.log

# Test Project
